.strength-indicator {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.strength-indicator div {
  width: 30%;
  height: 20px;
  margin: 0 5px;
  border-radius: 5px;

}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.gray {
  background-color: gray;
}
